<p>
  <strong>User:</strong>
  <%= @trip.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.planet.name %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
